.splat-frame-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 2.8em;
}

iframe {
  aspect-ratio: 4 / 3;
  width: 100% !important;
}

.caption {
  margin-bottom: 60px;
  font-size: 1.2em;
}
