.splat-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.loader-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-text {
  position: absolute;
  color: azure;
  font-size: 1.2rem;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring-circle {
  transition: stroke-dashoffset 0s ease;
}

.progress-ring-circle-bg {
  opacity: 0.3;
}
