.splat-viewer {
  overflow: hidden;
  position: relative;
  height: 800px;
  max-height: 90vh;
  border-radius: 1rem;
  cursor: grab;
}

.splat-viewer:active {
  cursor: grabbing;
}

canvas {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.invalid-url {
  color: rgb(139, 62, 62);
  font-size: 1em;
  text-align: center;
}
