.splat-card.outline {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;

  padding: unset;

  min-width: unset;
  max-width: unset;
  max-height: unset;

  background-color: var(--color-background-secondary);
  border: none;
  border-radius: unset;
}

.splat-card.outline .splat-card-content-wrapper {
  z-index: 2;
  padding: 1rem;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: color-mix(in srgb, var(--color-background-secondary), transparent 90%);
}

.splat-card.outline .splat-title {
  color: var(--color-text-primary);
}

.splat-card.outline .splat-description {
  color: var(--color-text-primary);
  font-size: 1rem;
  font-weight: normal;
}

/* Viewer styling */

.splat-card.outline .splat-viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100svh;
  z-index: 1;
  overflow: visible;
}

.splat-card.outline .splat-viewer canvas {
  height: 100vh !important;
}
