#root {
  text-align: center;
  margin: 0 auto;
}

.title {
  margin: 5vh 0 60px 0;
  font-size: 6em;
  text-shadow: 0 0 1em #000;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1400px;
  text-align: center;
}

.subtitle {
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
  padding: 1.5em;
  background-color: #050505f3;
  border-radius: 2em;
}

@media (max-width: 1024px) {
  .container {
    max-width: 85vw;
  }
  .title {
    margin: 5vh 0 100px 0;
    font-size: 5em;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: 100vw;
    padding: 5vw 0vw;
    border-radius: 4em 4em 0 0;
  }
  .title {
    margin: 5vh 0 100px 0;
    font-size: 4em;
  }
  .subtitle {
    margin-top: 0em;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
