.iframe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}

.caption {
  margin-bottom: 120px;
  font-size: 1.2em;
}

.card {
  padding: 2em;
}